<!DOCTYPE html>
<html>
<head>
    <title>Kafka Messages</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1.5.0/dist/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/stompjs@2.3.3/dist/stomp.min.js"></script>
</head>
<body>
<h1>Kafka Messages</h1>
<div id="messages"></div>

<script>
    var socket = new SockJS('/ws');
    var stompClient = Stomp.over(socket);

    stompClient.connect({}, function (frame) {
        stompClient.subscribe('/topic/messages', function (message) {
            var content = JSON.parse(message.body);
            $('#messages').append('<p>' + content + '</p>');
        });
    });
</script>
</body>
</html>
